<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col m3">
      <div class="collection">
          <% @videos.each do |video| %>
          <%= link_to video.title, video, :class => 'collection-item' %>
          <% end %>
      </div>
    </div>
    <div class="col m9">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><%= @video.title %></span>
                <p><%= @video.description %></p>
            </div>
            <div class="card-action">
              <a href="#">Previous</a>
                <span class="right">
              <a href='#'>Next</a>
                </span>
            </div>
          </div>
        </div>
      </div>
