<h3>Contact</h3>

<div class="card z-depth 3">
    <div class="card-content">
        <p>Want to look for me? Check out my office on Maps!</p>
        <br>
        <div id="map-canvas"></div>
    </div>
</div>

<style>
      #map-canvas {
        width: 100%;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(1.333214, 103.892177),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(1.333214, 103.892177),
            title: "Here is Singapore!"
        });
          marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

